<!DOCTYPE html>

<html
	lang="en"
	class="{{ htmlClass }}"
>
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width"/>

		<link rel="stylesheet" href="/css/app.css?{{ cacheBuster }}" media="all"/>

		<script src="/js/app.js?{{ cacheBuster }}" defer></script>

		<script>
			__PATTERN_LAB_BASIC_SETUP__CONFIG = {
				debug : true
			};
		</script>

		{{ patternLabHead|raw }}
	</head>
	<body class="{{ bodyClass }}">

