<!DOCTYPE html>

<html
	lang="en"
	class="{{ htmlClass }}"
>
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width"/>

		{#
		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all"/>
		<link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all"/>
		#}

		{{ patternLabHead|raw }}
	</head>
	<body class="{{ bodyClass }}">

